pc_compressor/build/
pc_compressor/x64/
pc_compressor/release/
pc_compressor/debug/
pc_compressor/*.user
zx_scroller/build/
pc_compressor/.vs 

psg_compressor/x64/
psg_compressor/.vs

scr_deinterlace/x64/
scr_deinterlace/.vs

encoding_convertor/x64/
encoding_convertor/.vs
